<?xml version="1.0" encoding="utf-8"?>
<ShaderWindowSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="clr-namespace:Bonsai.Shaders;assembly=Bonsai.Shaders">
  <Width>640</Width>
  <Height>480</Height>
  <VSync>On</VSync>
  <SwapSync>false</SwapSync>
  <ClearColor>Gray</ClearColor>
  <ClearMask>DepthBufferBit ColorBufferBit</ClearMask>
  <CursorVisible>true</CursorVisible>
  <Location xsi:nil="true" />
  <WindowBorder>Resizable</WindowBorder>
  <WindowState>Normal</WindowState>
  <DisplayDevice>Primary</DisplayDevice>
  <TargetRenderFrequency>0</TargetRenderFrequency>
  <RenderState>
    <StateConfiguration xsi:type="EnableState">
      <Capability>Blend</Capability>
    </StateConfiguration>
    <StateConfiguration xsi:type="BlendFunctionState">
      <SourceFactor>SrcAlpha</SourceFactor>
      <DestinationFactor>OneMinusSrcAlpha</DestinationFactor>
    </StateConfiguration>
    <StateConfiguration xsi:type="EnableState">
      <Capability>DepthTest</Capability>
    </StateConfiguration>
    <StateConfiguration xsi:type="DepthFunctionState">
      <Function>Lequal</Function>
    </StateConfiguration>
  </RenderState>
  <GraphicsMode>
    <ColorFormat>
      <Red>8</Red>
      <Green>8</Green>
      <Blue>8</Blue>
      <Alpha>8</Alpha>
    </ColorFormat>
    <Depth>16</Depth>
    <Stencil>0</Stencil>
    <Samples>0</Samples>
    <AccumulatorFormat>
      <Red>0</Red>
      <Green>0</Green>
      <Blue>0</Blue>
      <Alpha>0</Alpha>
    </AccumulatorFormat>
    <Buffers>2</Buffers>
    <Stereo>false</Stereo>
  </GraphicsMode>
  <Shaders>
    <ShaderConfiguration xsi:type="Material">
      <Name>Gratings</Name>
      <RenderState />
      <ShaderUniforms />
      <BufferBindings />
      <FramebufferAttachments />
      <VertexShader>Shaders\Quad.vert</VertexShader>
      <FragmentShader>Shaders\Gratings.frag</FragmentShader>
    </ShaderConfiguration>
    <ShaderConfiguration xsi:type="Material">
      <Name>Checkerboard</Name>
      <RenderState />
      <ShaderUniforms />
      <BufferBindings />
      <FramebufferAttachments />
      <VertexShader>Shaders\Quad.vert</VertexShader>
      <FragmentShader>Shaders\Checkerboard.frag</FragmentShader>
    </ShaderConfiguration>
    <ShaderConfiguration xsi:type="Material">
      <Name>Image</Name>
      <RenderState />
      <ShaderUniforms />
      <BufferBindings>
        <BufferBinding xsi:type="TextureBinding">
          <Name>tex</Name>
          <TextureSlot>Texture0</TextureSlot>
          <TextureTarget>Texture2D</TextureTarget>
        </BufferBinding>
      </BufferBindings>
      <FramebufferAttachments />
      <VertexShader>Shaders\Quad.vert</VertexShader>
      <FragmentShader>Shaders\Image.frag</FragmentShader>
    </ShaderConfiguration>
    <ShaderConfiguration xsi:type="Material">
      <Name>Color</Name>
      <RenderState />
      <ShaderUniforms />
      <BufferBindings />
      <FramebufferAttachments />
      <VertexShader>Shaders\Quad.vert</VertexShader>
      <FragmentShader>Shaders\Color.frag</FragmentShader>
    </ShaderConfiguration>
    <ShaderConfiguration xsi:type="Material">
      <Name>Circle</Name>
      <RenderState />
      <ShaderUniforms />
      <BufferBindings />
      <FramebufferAttachments />
      <VertexShader>Shaders\Quad.vert</VertexShader>
      <FragmentShader>Shaders\Circle.frag</FragmentShader>
    </ShaderConfiguration>
    <ShaderConfiguration xsi:type="Material">
      <Name>CircleArray</Name>
      <RenderState />
      <ShaderUniforms />
      <BufferBindings />
      <FramebufferAttachments />
      <VertexShader>Shaders\QuadArray.vert</VertexShader>
      <FragmentShader>Shaders\Circle.frag</FragmentShader>
    </ShaderConfiguration>
    <ShaderConfiguration xsi:type="Material">
      <Name>Gamma</Name>
      <RenderState />
      <ShaderUniforms />
      <BufferBindings>
        <BufferBinding xsi:type="TextureBinding">
          <Name>tex</Name>
          <TextureSlot>Texture0</TextureSlot>
          <TextureTarget>Texture2D</TextureTarget>
        </BufferBinding>
        <BufferBinding xsi:type="TextureBinding">
          <Name>lut</Name>
          <TextureSlot>Texture1</TextureSlot>
          <TextureTarget>Texture2D</TextureTarget>
        </BufferBinding>
      </BufferBindings>
      <FramebufferAttachments />
      <VertexShader>Shaders\Quad.vert</VertexShader>
      <FragmentShader>Shaders\Gamma.frag</FragmentShader>
    </ShaderConfiguration>
    <ShaderConfiguration xsi:type="Material">
      <Name>MeshMap</Name>
      <RenderState />
      <ShaderUniforms />
      <BufferBindings />
      <FramebufferAttachments />
      <VertexShader>Shaders\MeshMap.vert</VertexShader>
      <FragmentShader>Shaders\MeshMap.frag</FragmentShader>
    </ShaderConfiguration>
  </Shaders>
  <Textures />
  <Meshes>
    <MeshConfiguration xsi:type="TexturedQuad">
      <Name>Quad</Name>
      <QuadEffects>None</QuadEffects>
    </MeshConfiguration>
    <MeshConfiguration>
      <Name>MeshMap</Name>
    </MeshConfiguration>
    <MeshConfiguration>
      <Name>SphereMap</Name>
    </MeshConfiguration>
  </Meshes>
</ShaderWindowSettings>